<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/output.css')}}"
    />
  </head>
  <body>
    <div
      class="bg-gray-100 flex h-screen items-center justify-center px-4 sm:px-6 lg:px-8"
    >
      <div class="w-full max-w-md space-y-8">
        <div class="bg-white shadow-md rounded-md p-6">
          <img
            class="mx-auto h-20 w-auto"
            src="/gateway/static/logo.png"
            alt=""
          />

          <h2
            class="my-3 text-center text-3xl font-bold tracking-tight text-gray-900"
          >
            Sign up for an account
          </h2>

          <form class="space-y-6" method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
              <label
                for="new-password"
                class="block text-sm font-medium text-gray-700"
                >Username</label
              >
              <div class="mt-1">
                {{form.username(class='px-2 py-3 mt-1 block w-full rounded-md
                border border-gray-300 shadow-sm focus:border-sky-500
                focus:outline-none focus:ring-sky-500 sm:text-sm')}}
              </div>
            </div>

            <div>
              <label
                for="password"
                class="block text-sm font-medium text-gray-700"
                >Password</label
              >
              <div class="mt-1">
                {{form.password(class='px-2 py-3 mt-1 block w-full rounded-md
                border border-gray-300 shadow-sm focus:border-sky-500
                focus:outline-none focus:ring-sky-500 sm:text-sm')}}
              </div>
            </div>
            <div>
              <label
                for="password"
                class="block text-sm font-medium text-gray-700"
                >User Type</label
              >
              <div class="mt-1">
                {{form.user_type(class='px-2 py-3 mt-1 block w-full rounded-md
                border border-gray-300 shadow-sm focus:border-sky-500
                focus:outline-none focus:ring-sky-500 sm:text-sm')}}
              </div>
            </div>
            <div>
              <label
                for="password"
                class="block text-sm font-medium text-gray-700"
                >Confirm Password</label
              >
              <div class="mt-1">
                <input
                  name="confirm_password"
                  type="password"
                  autocomplete="confirm-password"
                  required
                  class="px-2 py-3 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                />
              </div>
            </div>

            <div>
              {{form.submit(class='py-3 px-4 inline-flex w-full items-center
              gap-x-2 text-sm font-semibold rounded-md border border-transparent
              bg-blue-600 text-white hover:bg-blue-700 justify-center')}}
            </div>

            <p class="mt-6 text-xs text-gray-600 text-center">
              Already have an account?

              <a
                href="{{url_for('auth.login')}}"
                class="border-b border-gray-500 border-dotted"
              >
                Login</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
