<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/output.css')}}"
    />
  </head>
  <body>
    <div
      class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center"
      style="background-image: url('/static/index_image.jpg'); height: 500px"
    >
      <div
        class="rounded-full absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
        style="background-color: rgba(0, 0, 0, 0.6)"
      >
        <div class="flex h-full items-center justify-center">
          <div class="text-white">
            <h2 class="mb-4 text-4xl font-semibold">Heading</h2>
            <h4 class="mb-6 text-xl font-semibold">Subheading</h4>

            <button
              type="button"
              class="rounded border-2 border-neutral-50 px-7 pb-[8px] pt-[10px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
              data-twe-ripple-init
              data-twe-ripple-color="light"
            >
              <a href="{{url_for('login')}}">Login</a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="/static/assets/libs/iconify-icon/dist/iconify-icon.min.js"></script>
    <script src="/static/assets/libs/@preline/dropdown/index.js"></script>
    <script src="/static/assets/libs/@preline/overlay/index.js"></script>
    <script src="/static/assets/js/sidebarmenu.js"></script>
    <script src="/static/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/static/assets/js/dashboard.js"></script>
  </body>
</html>
